<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
</head>
<body>
<h2>Your Login Details:</h2>
<form action="messagesent" method="post">{% csrf_token %}

            <ul>
            <li>Name: <strong>{{ name }}</strong></li>

            <li>Email: <strong>{{ email }}</strong></li>

            <li>Inbox: <strong>{{inbox}}</strong></li>

            <li>OutBox: <strong>{{outbox}}</strong></li>
          </ul>
            <br>
          <div>
            <label for="mail">Target E-mail:</label>
            <input type="email" id="mail" name="target_mail">
          </div>
            <br>
            <div>
            <label for="mail">Your E-mail:</label>
            <input type="email" id="mail" name="your_mail">
          </div>
            <br>
            <div>
            <label for="message">Target Message:</label>
            <input type="text" id="text" name="user_message">
          </div>


          <input type="submit" value="send"></td>
</form>
</body>
</html>